<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/dashboard"><i class="fab fa-digital-ocean"></i> Digital Agri</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link"href="javascript:void(0);" *ngIf="router.url != '/dashboard'" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0 mr-2" *ngIf="router.url === '/home' && isAdmin" (click)="navigate('/product')">Add Product</button>
        <button class="btn btn-outline-success my-2 my-sm-0 mr-2" *ngIf="router.url === '/home' || router.url === '/view-orders'" routerLink="/orders">Orders</button>
        <a href="" class="btn btn-outline-danger my-2 my-sm-0 mr-2" data-toggle="modal" *ngIf="router.url === '/dashboard'" data-target="#modalLRForm" (click)="resetForm()">Log In/Register</a>
        <a href="" class="btn btn-outline-danger my-2 my-sm-0 mr-2" *ngIf="router.url !== '/dashboard'" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>



  <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #modalLoginForm>
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">
  
        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">
  
          <!-- Nav tabs -->
          <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                Register</a>
            </li>
          </ul>
  
          <!-- Tab panels -->
          <div class="tab-content">
            <!--Panel 7-->
            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
  
              <!--Body-->
              <div class="modal-body mb-1">
                <form [formGroup]="loginForm">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="email"  class="form-control" name="name" formControlName="email" autofocus autocomplete="off" />
                  <label data-error="wrong" data-success="right" for="modalLRInput10">Email</label>
                  <mat-error *ngIf="(loginForm.get('email')?.hasError('required') || !loginForm.get('email')?.valid) 
                  && (loginForm.get('email')?.dirty && loginForm.get('email')?.touched)">
                      Please enter valid email</mat-error>
                </div>
  
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="password" class="form-control" name="name" formControlName="password" autofocus autocomplete="off" />
                  <label data-error="wrong" data-success="right" for="modalLRInput11">Password</label>
                  <mat-error *ngIf="(loginForm.get('password')?.hasError('required') || !loginForm.get('password')?.valid) 
                            && (loginForm.get('password')?.dirty && loginForm.get('password')?.touched)">
                                Please enter valid password</mat-error>
                </div>
                
                <div class="text-center mt-2">
                  <button type="submit" [disabled]="!loginForm.valid" class="btn btn-outline-success" (click)="login()">Log in <i class="fas fa-sign-in ml-1"></i></button>
                </div>
              </form>
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
  
            </div>
            <!--/.Panel 7-->
  
            <!--Panel 8-->
            <div class="tab-pane fade" id="panel8" role="tabpanel">
  
              <!--Body-->
              <div class="modal-body">
                <form [formGroup]="registerForm">
                <div class="md-form form-sm mb-1">
                    <input type="email" id="name"  class="form-control" name="name" formControlName="name" autofocus autocomplete="off" />
                    <label data-error="wrong" data-success="right" for="modalLRInput12">Name</label>
                    <mat-error *ngIf="(registerForm.get('name')?.hasError('required') || !registerForm.get('name')?.valid) 
                            && (registerForm.get('name')?.dirty && registerForm.get('name')?.touched)">
                                Please enter valid name</mat-error>
                    </div>
                <div class="md-form form-sm mb-1">
                  
                  <input type="email" id="regEmail"  class="form-control" name="name" formControlName="email" autofocus autocomplete="off" />
                  <label data-error="wrong" data-success="right" for="modalLRInput12">Email</label>
                  <mat-error *ngIf="(registerForm.get('email')?.hasError('required') || !registerForm.get('email')?.valid) 
                            && (registerForm.get('email')?.dirty && registerForm.get('email')?.touched)">
                                Please enter valid email</mat-error>
                </div>
  
                <div class="md-form form-sm mb-1">
                  <input type="password" id="regPassword" class="form-control" name="name" formControlName="password" autofocus autocomplete="off" />
                  <label data-error="wrong" data-success="right" for="modalLRInput13">Password</label>
                  <mat-error *ngIf="(registerForm.get('password')?.hasError('required') || !registerForm.get('password')?.valid) 
                            && (registerForm.get('password')?.dirty && registerForm.get('password')?.touched)">
                                Please enter valid Password</mat-error>
                </div>
                <div class="md-form form-sm mb-1">
                  <input type="text" id="address" class="form-control" name="name" formControlName="address" autofocus autocomplete="off" />
                  <label data-error="wrong" data-success="right" for="modalLRInput13">Address</label>
                  <mat-error *ngIf="(registerForm.get('address')?.hasError('required') || !registerForm.get('address')?.valid) 
                            && (registerForm.get('address')?.dirty && registerForm.get('address')?.touched)">
                                Please enter valid Address</mat-error>
                </div>
                <div class="md-form form-sm mb-1">
                  <input type="text" id="pincode" class="form-control" name="name" formControlName="pincode" autofocus autocomplete="off" />
                  <label data-error="wrong" data-success="right" for="modalLRInput13">Pincode</label>
                  <mat-error *ngIf="(registerForm.get('address')?.hasError('pincode') || !registerForm.get('pincode')?.valid) 
                            && (registerForm.get('pincode')?.dirty && registerForm.get('pincode')?.touched)">
                                Please enter valid Pincode</mat-error>
                </div>

                
  
                <div class="text-center form-sm mt-2">
                  <button type="submit" [disabled]="!registerForm.valid" class="btn btn-outline-success" (click)="signUp()">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                </div>
              </form>
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!--/.Panel 8-->
          </div>
  
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>